h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  user-select: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  flex-grow: 0;
}

.main {
  flex-grow: 1;
  display: flex;
}

.view-mount > *:not(:last-child) {
  display: none;
}

.footer {
  flex-grow: 0;
}

.view {
  flex-grow: 1;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 400px;
  padding: 2rem;
}

.home-title > * {
  margin: 0;
  text-align: center;
}

.open {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.open-saves {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  padding: 8px;
}

.open-save-button,
.open-save-create-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 5em;
  padding: 8px;
  border-radius: 4px;
}

.open-save-name {
  text-align: center;
  font-size: 0.8rem;
}

.create {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.create-save-passwords {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.create-save-passwords > * {
  flex: 1 0;
}

.create-save-error {
  margin-bottom: 8px;
}

.create-save-actions {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 8px;
}

.save {
  display: flex;
  flex-direction: column;
}

.save .save-header {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #7f7f7f3f;
}

.save-header .save-title {
  font-weight: 500;
  padding: 6px;
}

.save-header .save-actions {
}

.save .save-body {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.save-body .save-left {
  width: 200px;
  border-right: 1px solid #7f7f7f3f;
}

.save-body .save-main {
  flex-grow: 1;
}

.save-body .save-right {
  width: 200px;
  border-left: 1px solid #7f7f7f3f;
}

.save-accounts {
  padding: 4px;
}

.save-accounts-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.save-accounts-title {
  font-size: 0.9rem;
}

.account-transactions {
}

.account-info {
}

.loading {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000060;
  transition: visibility 0.25s linear, opacity 0.25s linear;
}

.loading-overlay.loading-overlay-open {
  visibility: visible;
  opacity: 1;
}

.save-icon,
.save-icon-create {
  display: flex;
  position: relative;
}

.save-icon-file {
  filter: invert(87%) sepia(1%) saturate(0%) hue-rotate(211deg) brightness(89%)
    contrast(90%);
}

.save-icon-lock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.save-icon-plus {
  width: 32px;
  height: 32px;
  filter: invert(87%) sepia(1%) saturate(0%) hue-rotate(211deg) brightness(89%)
    contrast(90%);
}

.hoverable {
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.hoverable:hover {
  background-color: #7f7f7f2f;
}

.hoverable:active {
  background-color: #7f7f7f3f;
}

.clamp-1 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.clamp-2 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.clamp-3 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.expandable-pane {
  display: flex;
  flex-direction: column;
}

.expandable-pane .expandable-pane-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-size: 0.9rem;
  cursor: pointer;
}

.expandable-pane .expandable-pane-icon {
  transition: transform 0.2s ease;
}

.expandable-pane.expandable-pane-open .expandable-pane-icon {
  transform: rotate(90deg);
}

.expandable-pane .expandable-pane-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s ease;
  padding-left: 16px;
}

.expandable-pane.expandable-pane-open .expandable-pane-body {
  grid-template-rows: 1fr;
}

.expandable-pane .expandable-pane-body-inner {
  overflow: hidden;
}

.bg-1 {
  background-color: var(--base-background-color-1);
}

.bg-2 {
  background-color: var(--base-background-color-2);
}

.bg-3 {
  background-color: var(--base-background-color-3);
}

.bg-4 {
  background-color: var(--base-background-color-4);
}

.bg-5 {
  background-color: var(--base-background-color-5);
}

.bg-6 {
  background-color: var(--base-background-color-6);
}
