.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex-grow: 0;
}

.main {
  flex-grow: 1;
  display: flex;
}

.footer {
  flex-grow: 0;
}

.view {
  flex-grow: 1;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 400px;
  padding: 2rem;
}

.home-title > * {
  margin: 0;
  text-align: center;
}

.open {
  padding: 2rem;
}
