@use "common.scss";

//////////////////////////////////////////////////////////////////////////////
/// MISC
//////////////////////////////////////////////////////////////////////////////

.base-text-smaller {
  font-size: 0.8em;
}

.base-text-small {
  font-size: 0.9em;
}

.base-text-medium {
  font-size: 1em;
}

.base-text-large {
  font-size: 1.25em;
}

.base-text-larger {
  font-size: 1.5em;
}

.base-required-mark {
  color: common.$error-color;
}

//////////////////////////////////////////////////////////////////////////////
/// DEMO
//////////////////////////////////////////////////////////////////////////////

.base-demo {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2.5rem;
}

.base-demo-item {
  background-color: common.$background-color-4;
  padding: common.$padding-large;
  border: common.$standard-border;
  border-radius: common.$border-radius-large;
  display: flex;
  flex-direction: column;
  gap: common.$padding-medium;
}

.base-demo-item-label {
  text-align: center;
}

.base-demo h1,
.base-demo h2,
.base-demo h3,
.base-demo h4,
.base-demo h5,
.base-demo h6,
.base-demo p {
  margin: 0;
}

//////////////////////////////////////////////////////////////////////////////
/// ERROR
//////////////////////////////////////////////////////////////////////////////

.base-error {
  color: common.$error-color;
}

//////////////////////////////////////////////////////////////////////////////
/// INPUT
//////////////////////////////////////////////////////////////////////////////

.base-input-container {
  padding: common.$form-padding;
  display: flex;
  flex-direction: column;
  gap: common.$padding-small;
}

.base-input {
  background-color: common.$input-background-color;
  color: common.$input-text-color;
  padding: 6px 7px;
  border: common.$standard-border;
  border-radius: common.$input-border-radius;
  outline: none;
  transition: border 0.1s ease;
}

.base-input:focus {
  border: common.$light-border;
}

.base-input-invalid,
.base-input-invalid:focus {
  border: common.$error-border;
}

.base-input-container-disabled .base-input {
  color: common.$input-text-color-disabled;
}

.base-input-label {
  color: common.$primary-text-color;
  font-size: common.$standard-label-size;
}

.base-input-container-disabled .base-input-label {
  color: common.$primary-text-color-disabled;
}

//////////////////////////////////////////////////////////////////////////////
/// TEXTAREA
//////////////////////////////////////////////////////////////////////////////

.base-textarea-container {
  padding: common.$form-padding;
  display: flex;
  flex-direction: column;
  gap: common.$padding-small;
}

.base-textarea {
  background-color: common.$textarea-background-color;
  color: common.$textarea-text-color;
  padding: 6px 7px;
  border: common.$standard-border;
  border-radius: common.$textarea-border-radius;
  outline: none;
  transition: border 0.1s ease;
}

.base-textarea:focus {
  border: common.$light-border;
}

.base-textarea-resize-none {
  resize: none;
}

.base-textarea-resize-horizontal {
  resize: horizontal;
}

.base-textarea-resize-vertical {
  resize: vertical;
}

.base-textarea-resize-both {
  resize: both;
}

.base-textarea-invalid,
.base-textarea-invalid:focus {
  border: common.$error-border;
}

.base-textarea-container-disabled .base-textarea {
  color: common.$textarea-text-color-disabled;
}

.base-textarea-label {
  color: common.$primary-text-color;
  font-size: common.$standard-label-size;
}

.base-textarea-container-disabled .base-textarea-label {
  color: common.$primary-text-color-disabled;
}

//////////////////////////////////////////////////////////////////////////////
/// BUTTON
//////////////////////////////////////////////////////////////////////////////

.base-button {
  border: 0;
  border-radius: common.$button-border-radius;
  padding: 6px 12px;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.base-button:disabled {
  cursor: default;
}

.base-button-primary {
  background-color: common.$button-primary-background-color;
  color: common.$button-primary-text-color;
}

.base-button-primary:hover {
  background-color: common.$button-primary-background-color-hover;
}

.base-button-primary:active {
  background-color: common.$button-primary-background-color-active;
}

.base-button-primary:disabled {
  background-color: common.$button-primary-background-color-disabled;
  color: common.$button-primary-text-color-disabled;
}

.base-button-secondary {
  background-color: common.$button-secondary-background-color;
  color: common.$button-secondary-text-color;
}

.base-button-secondary:hover {
  background-color: common.$button-secondary-background-color-hover;
}

.base-button-secondary:active {
  background-color: common.$button-secondary-background-color-active;
}

.base-button-secondary:disabled {
  background-color: common.$button-secondary-background-color-disabled;
  color: common.$button-secondary-text-color-disabled;
}

.base-button-transparent {
  background-color: common.$button-transparent-background-color;
  color: common.$button-transparent-text-color;
}

.base-button-transparent:hover {
  background-color: common.$button-transparent-background-color-hover;
}

.base-button-transparent:active {
  background-color: common.$button-transparent-background-color-active;
}

.base-button-transparent:disabled {
  background-color: common.$button-transparent-background-color-disabled;
  color: common.$button-transparent-text-color-disabled;
}

.base-button-danger {
  background-color: common.$button-danger-background-color;
  color: common.$button-danger-text-color;
}

.base-button-danger:hover {
  background-color: common.$button-danger-background-color-hover;
}

.base-button-danger:active {
  background-color: common.$button-danger-background-color-active;
}

.base-button-danger:disabled {
  background-color: common.$button-danger-background-color-disabled;
  color: common.$button-danger-text-color-disabled;
}

//////////////////////////////////////////////////////////////////////////////
/// CHECKBOX
//////////////////////////////////////////////////////////////////////////////

.base-checkbox-container {
  width: 100%;
  display: flex;
}

.base-checkbox-label {
  color: common.$checkbox-label-color;
  font-size: common.$standard-label-size;
}

.base-checkbox {
  display: flex;
  position: relative;
  padding-left: common.$checkbox-label-offset-left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.base-checkbox .base-checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.base-checkbox:hover .base-checkbox-input ~ .base-checkmark {
  transition: all 0.075s ease-in-out;
}

.base-checkbox .base-checkbox-input:checked ~ .base-checkmark {
  background-color: common.$checkbox-background-color-checked;
  border-color: common.$checkbox-background-color-checked;
}

.base-checkbox .base-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: common.$checkbox-size;
  width: common.$checkbox-size;
  background-color: common.$checkbox-background-color-unchecked;
  border: common.$standard-border;
  border-radius: common.$checkbox-border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base-checkmark-icon {
  width: common.$checkbox-icon-size;
  height: common.$checkbox-icon-size;
  filter: common.$checkbox-icon-filter;
  visibility: hidden;
}

.base-checkbox
  .base-checkbox-input:checked
  ~ .base-checkmark
  .base-checkmark-icon {
  visibility: visible;
}

.base-checkbox-disabled .base-checkbox-label {
  color: common.$checkbox-label-color-disabled;
  cursor: default;
}

.base-checkbox-disabled,
.base-checkbox-disabled .base-checkbox-input,
.base-checkbox-disabled .base-checkmark {
  cursor: default;
}

.base-checkbox-disabled .base-checkbox-input:checked ~ .base-checkmark {
  background-color: common.$checkbox-background-color-checked-disabled;
  border-color: common.$checkbox-background-color-checked-disabled;
}

.base-checkbox-disabled
  .base-checkbox-input:checked
  ~ .base-checkmark
  .base-checkmark-icon {
  filter: common.$checkbox-icon-filter-disabled;
}

//////////////////////////////////////////////////////////////////////////////
/// SWITCH
//////////////////////////////////////////////////////////////////////////////

.base-switch-container {
  width: 100%;
  display: flex;
}

.base-switch-label {
  color: common.$switch-label-color;
  font-size: common.$standard-label-size;
}

.base-switch {
  display: flex;
  position: relative;
  padding-left: common.$switch-label-offset-left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.base-switch .base-switch-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.base-switch:hover .base-switch-input ~ .base-switch-toggle {
  transition: all 0.075s ease-in-out;
}

.base-switch .base-switch-input:checked ~ .base-switch-toggle {
  background-color: common.$switch-background-color-checked;
  border-color: common.$switch-background-color-checked;
}

.base-switch .base-switch-toggle {
  position: absolute;
  top: 0;
  left: 0;
  height: common.$switch-height;
  width: common.$switch-width;
  background-color: common.$switch-background-color-unchecked;
  border: common.$standard-border;
  border-radius: 100vw;
}

.base-switch .base-switch-toggle:after {
  content: "";
  position: absolute;
  display: none;
}

.base-switch .base-switch-toggle:after {
  display: block;
  left: common.$switch-head-offset-off;
  top: common.$switch-inner-padding;
  width: common.$switch-head-size;
  height: common.$switch-head-size;
  background-color: common.$switch-head-background-color;
  border-radius: 100vw;
  transition: left 0.075s ease-out;
}

.base-switch .base-switch-input:checked ~ .base-switch-toggle:after {
  left: common.$switch-head-offset-on;
}

.base-switch-disabled .base-switch-label {
  color: common.$switch-label-color-disabled;
  cursor: default;
}

.base-switch-disabled,
.base-switch-disabled .base-switch-input,
.base-switch-disabled .base-switch-toggle {
  cursor: default;
}

.base-switch-disabled .base-switch-input:checked ~ .base-switch-toggle {
  background-color: common.$switch-background-color-checked-disabled;
  border-color: common.$switch-background-color-checked-disabled;
}

.base-switch-disabled .base-switch-toggle:after {
  background-color: common.$switch-head-background-color-disabled;
}

//////////////////////////////////////////////////////////////////////////////
/// RADIO
//////////////////////////////////////////////////////////////////////////////

.base-radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 16px;
}

.base-radio-group-horizontal {
  flex-direction: row;
}

.base-radio-group-vertical {
  flex-direction: column;
}

.base-radio-option {
  display: flex;
  flex-direction: row;
}

.base-radio-input {
  flex-shrink: 0;
  cursor: pointer;
  appearance: none;
  margin: 0;
  border-radius: 100vw;
  width: common.$radio-size;
  height: common.$radio-size;
  border: common.$standard-border;
  background-color: common.$radio-background-color-unchecked;
  transition: 0.2s all linear;
}

.base-radio-input:checked {
  background-color: common.$radio-background-color-checked;
  border: common.$radio-border-size-checked solid
    common.$radio-border-color-checked;
}

.base-radio-label {
  font-size: common.$standard-label-size;
  padding-left: 8px;
  cursor: pointer;
}

.base-radio-option-disabled .base-radio-input,
.base-radio-option-disabled .base-radio-label {
  cursor: default;
}

.base-radio-option-disabled .base-radio-input:checked {
  background-color: common.$radio-background-color-checked-disabled;
  border: common.$radio-border-size-checked solid
    common.$radio-border-color-checked-disabled;
}

.base-radio-option-disabled .base-radio-label {
  color: common.$radio-label-color-disabled;
}

//////////////////////////////////////////////////////////////////////////////
/// SLIDER
//////////////////////////////////////////////////////////////////////////////

.base-slider-label {
  font-size: common.$standard-label-size;
}

.base-slider {
  width: 100%;
  height: common.$slider-thumb-size;
  margin: common.$slider-margin 0;
  border-radius: 100vw;
  position: relative;
}

.base-slider-input {
  position: absolute;
  appearance: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  margin: 0;
}

.base-slider-track {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base-slider-thumb-container {
  position: absolute;
  width: common.$slider-thumb-container-size;
}

.base-slider-thumb {
  position: absolute;
  background-color: common.$slider-thumb-color;
  width: common.$slider-thumb-size;
  height: common.$slider-thumb-size;
  border-radius: 100vw;
}

.base-slider-disabled .base-slider-label {
  color: common.$slider-label-color-disabled;
}

.base-slider-disabled .base-slider-thumb {
  background-color: common.$slider-thumb-color-disabled;
}

.base-slider-disabled .base-slider-input {
  cursor: default;
}

//////////////////////////////////////////////////////////////////////////////
/// ICON
//////////////////////////////////////////////////////////////////////////////

.base-icon {
  filter: common.$icon-filter;
}

.base-icon-disabled {
  filter: common.$icon-filter-disabled;
}

.base-icon-small {
  width: common.$icon-size-small;
  height: common.$icon-size-small;
}

.base-icon-medium {
  width: common.$icon-size-medium;
  height: common.$icon-size-medium;
}

.base-icon-large {
  width: common.$icon-size-large;
  height: common.$icon-size-large;
}

//////////////////////////////////////////////////////////////////////////////
/// ICON BUTTON
//////////////////////////////////////////////////////////////////////////////

.base-icon-button {
  background-color: common.$button-icon-button-background-color;
  border: 0;
  border-radius: common.$button-icon-border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.base-icon-button:hover {
  background-color: common.$button-icon-button-background-color-hover;
}

.base-icon-button:active {
  background-color: common.$button-icon-button-background-color-active;
}

.base-icon-button-icon {
  filter: common.$button-icon-filter;
}

.base-icon-button:disabled {
  background-color: common.$button-icon-button-background-color;
  cursor: default;
}

.base-icon-button:disabled .base-icon-button-icon {
  filter: common.$button-icon-filter-disabled;
}

.base-icon-button-small {
  width: common.$button-icon-button-size-small;
  height: common.$button-icon-button-size-small;
}

.base-icon-button-medium {
  width: common.$button-icon-button-size-medium;
  height: common.$button-icon-button-size-medium;
}

.base-icon-button-large {
  width: common.$button-icon-button-size-large;
  height: common.$button-icon-button-size-large;
}

.base-icon-button-small .base-icon-button-icon {
  width: common.$button-icon-size-small;
  height: common.$button-icon-size-small;
}

.base-icon-button-medium .base-icon-button-icon {
  width: common.$button-icon-size-medium;
  height: common.$button-icon-size-medium;
}

.base-icon-button-large .base-icon-button-icon {
  width: common.$button-icon-size-large;
  height: common.$button-icon-size-large;
}

//////////////////////////////////////////////////////////////////////////////
/// SELECT
//////////////////////////////////////////////////////////////////////////////

.base-select-container {
  display: flex;
  flex-direction: column;
  gap: common.$padding-small;
}

.base-select-label {
  font-size: common.$standard-label-size;
}

.base-select {
  display: flex;
  flex-direction: column;
}

.base-select-button {
  background-color: common.$select-button-background-color;
  color: common.$select-button-text-color;
  text-align: left;
  padding: 6px 12px;
  border: common.$standard-border;
  border-radius: common.$select-button-border-radius;
  outline: none;
  transition: border 0.1s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.base-select-button:focus {
  border: common.$light-border;
}

.base-select-button:disabled {
  color: common.$select-button-text-color-disabled;
  cursor: default;
}

.base-select-button-invalid,
.base-select-button-invalid:focus {
  border: common.$error-border;
}

.base-select-button-selection {
  flex-grow: 1;
}

.base-select-button-icon {
  flex-grow: 0;
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

.base-select-container-open .base-select-button-icon {
  transform: rotate(-180deg);
}

.base-select-dropdown {
  position: relative;
  width: 100%;
}

.base-select-popup {
  position: absolute;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: auto;
  z-index: 1;
  transition: max-height 0.5s ease, visibility 0.5s, opacity 0.2s linear 0.125s;
  background-color: common.$select-popup-background-color;
  border-radius: common.$select-popup-border-radius;
  box-shadow: common.$standard-box-shadow;
  padding: 4px 0;
}

.base-select-container-open .base-select-popup {
  visibility: visible;
  opacity: 1;
  max-height: common.$select-popup-max-height;
  overflow-y: auto;
  transition: max-height 0.5s ease, visibility 0s, opacity 0.2s linear;
}

.base-select-option {
  padding: 2px 10px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.base-select-container-open .base-select-option:hover {
  background-color: common.$select-popup-background-color-hover;
}

.base-select-container-disabled .base-select-label {
  color: common.$select-label-color-disabled;
}

.base-select-option-disabled {
  color: common.$select-option-color-disabled;
  cursor: default;
}

.base-select-container-open .base-select-option-disabled:hover {
  background-color: inherit;
}

//////////////////////////////////////////////////////////////////////////////
/// DIALOG
//////////////////////////////////////////////////////////////////////////////

.base-dialog-container {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: common.$dialog-overlay-background-color;
  transition: visibility 0.25s linear, opacity 0.25s linear;
}

.base-dialog-container.base-dialog-container-open {
  visibility: visible;
  opacity: 1;
}

.base-dialog {
  background-color: common.$dialog-background-color;
  border-radius: common.$dialog-border-radius;
  box-shadow: common.$standard-box-shadow;
  max-height: calc(100% - 2 * common.$dialog-margin);
  overflow: auto;
  transform: translateY(-50px);
  transition: transform 0.25s ease-out;
}

.base-dialog-container-open .base-dialog {
  transform: translateY(0px);
}

.base-dialog-small {
  width: min(
    calc(100% - 2 * common.$dialog-margin),
    common.$dialog-width-small
  );
}

.base-dialog-medium {
  width: min(
    calc(100% - 2 * common.$dialog-margin),
    common.$dialog-width-medium
  );
}

.base-dialog-large {
  width: min(
    calc(100% - 2 * common.$dialog-margin),
    common.$dialog-width-large
  );
}

.base-dialog-max {
  width: calc(100% - 2 * common.$dialog-margin);
}

.base-dialog-auto {
  max-width: calc(100% - 2 * common.$dialog-margin);
}

.base-dialog-inner {
  display: flex;
  flex-direction: column;
  gap: common.$dialog-section-gap;
  padding: common.$dialog-padding;
}

.base-dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.base-dialog-header-space {
  width: common.$button-icon-button-size-medium;
  height: common.$button-icon-button-size-medium;
}

.base-dialog-actions {
  display: flex;
  flex-direction: row;
  gap: common.$dialog-actions-gap;
  margin-top: common.$dialog-section-gap;
}

.base-dialog-actions-left {
  justify-content: flex-start;
}

.base-dialog-actions-right {
  justify-content: flex-end;
}

.base-dialog-actions-spaced {
  justify-content: space-between;
}

//////////////////////////////////////////////////////////////////////////////
/// ALERT
//////////////////////////////////////////////////////////////////////////////

.base-alert {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 1;
  top: common.$alert-margin;
  right: common.$alert-margin;
  max-width: common.$alert-max-width;
  background-color: common.$alert-background-color;
  border-radius: common.$alert-border-radius;
  box-shadow: common.$standard-box-shadow;
  transition: visibility 0.25s linear, opacity 0.25s linear;
}

.base-alert.base-alert-open {
  visibility: visible;
  opacity: 1;
}

.base-alert-inner {
  display: flex;
  flex-direction: column;
  gap: common.$alert-section-gap;
  padding: common.$alert-padding;
}

.base-alert-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.base-alert-header-space {
  width: common.$button-icon-button-size-medium;
  height: common.$button-icon-button-size-medium;
}

//////////////////////////////////////////////////////////////////////////////
/// CARD
//////////////////////////////////////////////////////////////////////////////

.base-card {
  background-color: common.$card-background-color;
  padding: common.$card-padding;
  border: common.$standard-border;
  border-radius: common.$card-border-radius;
}

.base-card-interactive {
  cursor: pointer;
  transition: transform 0.2s;
}

.base-card-interactive:hover {
  transform: scale(common.$hover-zoom-scale);
}

//////////////////////////////////////////////////////////////////////////////
/// PROGRESS BAR
//////////////////////////////////////////////////////////////////////////////

.base-progress {
  width: 100%;
  height: common.$progress-bar-height;
  border-radius: 100vw;
  overflow: hidden;
  position: relative;
}

.base-progress-empty {
  position: absolute;
  top: 0;
  left: 0;
  width: common.$progress-bar-empty-width;
  height: common.$progress-bar-empty-height;
  border-radius: 100vw;
  background-color: common.$progress-bar-empty-color;
  border: common.$standard-border;
}

.base-progress-filled {
  position: absolute;
  top: 0;
  left: 0;
  height: common.$progress-bar-height;
  background-color: common.$progress-bar-filled-color;
}

.base-progress-disabled .base-progress-filled {
  background-color: common.$progress-bar-filled-color-disabled;
}

//////////////////////////////////////////////////////////////////////////////
/// SPINNER
//////////////////////////////////////////////////////////////////////////////

.base-spinner-container {
  display: flex;
}

.base-spinner-center {
  justify-content: center;
  align-items: center;
}

.base-spinner {
  animation: spinner-rotate 1s linear infinite;
}

.base-spinner-small {
  width: common.$spinner-size-small;
  height: common.$spinner-size-small;
}

.base-spinner-medium {
  width: common.$spinner-size-medium;
  height: common.$spinner-size-medium;
}

.base-spinner-large {
  width: common.$spinner-size-large;
  height: common.$spinner-size-large;
}

.base-spinner-max {
  width: unset;
  height: unset;
}

.base-spinner .path {
  stroke: common.$spinner-color;
  stroke-linecap: round;
  animation: common.$spinner-animation-dynamic;
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-dash-simple {
  0% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
}

@keyframes spinner-dash-dynamic {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

//////////////////////////////////////////////////////////////////////////////
/// CHIPS
//////////////////////////////////////////////////////////////////////////////

.base-chips-container {
  padding: common.$form-padding;
  display: flex;
  flex-direction: column;
  gap: common.$padding-small;
}

.base-chips-label {
  font-size: common.$standard-label-size;
}

.base-chips-inner {
  background-color: common.$input-background-color;
  color: common.$input-text-color;
  padding: common.$chips-container-padding;
  border: common.$standard-border;
  border-radius: common.$input-border-radius;
  transition: border 0.1s ease;
  display: flex;
  flex-direction: column;
  gap: common.$padding-small;
}

.base-chips-inner:focus-within {
  border: common.$light-border;
}

.base-chips-container-invalid .base-chips-inner,
.base-chips-container-invalid .base-chips-inner:focus-within {
  border: common.$error-border;
}

.base-chips-label {
  color: common.$primary-text-color;
  font-size: common.$standard-label-size;
}

.base-chips-container-disabled .base-chips-label {
  color: common.$primary-text-color-disabled;
}

.base-chips-chip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: common.$chips-chip-list-padding;
}

.base-chips-chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: common.$chips-chip-inner-padding;
  background-color: common.$chips-chip-background-color;
  color: common.$chips-chip-text-color;
  padding: common.$chips-chip-padding;
  border-radius: 100vw;
}

.base-chips-container-disabled .base-chips-chip {
  color: common.$chips-chip-text-color-disabled;
}

.base-chips-chip-label {
  font-size: common.$chips-chip-label-size;
}

.base-chips-input {
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
}

.base-chips-options-dropdown {
  position: relative;
  width: 100%;
}

.base-chips-options-popup {
  position: absolute;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: auto;
  z-index: 1;
  transition: max-height 0.5s ease, visibility 0.5s, opacity 0.2s linear 0.125s;
  background-color: common.$chips-popup-background-color;
  border-radius: common.$chips-popup-border-radius;
  box-shadow: common.$standard-box-shadow;
  padding: 4px 0;
}

.base-chips-container-open .base-chips-options-popup {
  visibility: visible;
  opacity: 1;
  max-height: common.$chips-popup-max-height;
  overflow-y: auto;
  transition: max-height 0.5s ease, visibility 0s, opacity 0.2s linear;
}

.base-chips-option {
  padding: 2px 10px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.base-chips-container-open .base-chips-option:hover {
  background-color: common.$chips-popup-background-color-hover;
}
