//////////////////////////////////////////////////////////////////////////////
/// MISC
//////////////////////////////////////////////////////////////////////////////

$background-color-1: #1a1c1f;
$background-color-2: #1e2023;
$background-color-3: #222427;
$background-color-4: #26282b;
$background-color-5: #2a2c2f;

$text-color: #ffffff;

$selection-color: hsla(220, 100%, 50%, 0.4);
$error-color: #cf0000;
$mid-color: #7f7f7f;

$primary-color: #006f00; // #2851ff
$primary-color-hover: darken($primary-color, 5%);
$primary-color-active: darken($primary-color, 8%);
$primary-color-disabled: mix($primary-color, $mid-color, 30%);
$primary-text-color: #ffffff;
$primary-text-color-disabled: mix($primary-text-color, $mid-color, 40%);
$primary-text-label-color-1: mix($primary-text-color, $mid-color, 70%);
$primary-text-label-color-2: mix($primary-text-color, $mid-color, 60%);
$primary-text-label-color-3: mix($primary-text-color, $mid-color, 50%);
$primary-svg-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(177deg)
  brightness(102%) contrast(101%); // https://codepen.io/sosuke/pen/Pjoqqp
$primary-svg-filter-disabled: invert(81%) sepia(0%) saturate(0%)
  hue-rotate(170deg) brightness(89%) contrast(92%);

$secondary-color: #5a5c5f;
$secondary-color-hover: darken($secondary-color, 5%);
$secondary-color-active: darken($secondary-color, 8%);
$secondary-color-disabled: mix($secondary-color, $mid-color, 50%);
$secondary-text-color: #ffffff;
$secondary-text-color-disabled: mix($secondary-text-color, $mid-color, 40%);
$secondary-text-label-color-1: mix($secondary-text-color, $mid-color, 70%);
$secondary-text-label-color-2: mix($secondary-text-color, $mid-color, 60%);
$secondary-text-label-color-3: mix($secondary-text-color, $mid-color, 50%);

$transparent-color: #00000000;
$transparent-color-hover: darken($transparent-color, 5%);
$transparent-color-active: darken($transparent-color, 8%);
$transparent-color-disabled: $transparent-color; // mix($transparent-color, $mid-color, 60%);
$transparent-text-color: #ffffff;
$transparent-text-color-disabled: mix($transparent-text-color, $mid-color, 40%);
$transparent-text-label-color-1: mix($transparent-text-color, $mid-color, 70%);
$transparent-text-label-color-2: mix($transparent-text-color, $mid-color, 60%);
$transparent-text-label-color-3: mix($transparent-text-color, $mid-color, 50%);

$danger-color: #af0000;
$danger-color-hover: darken($danger-color, 5%);
$danger-color-active: darken($danger-color, 8%);
$danger-color-disabled: mix($danger-color, $mid-color, 50%);
$danger-text-color: #ffffff;
$danger-text-color-disabled: mix($danger-text-color, $mid-color, 40%);
$danger-text-label-color-1: mix($danger-text-color, $mid-color, 70%);
$danger-text-label-color-2: mix($danger-text-color, $mid-color, 60%);
$danger-text-label-color-3: mix($danger-text-color, $mid-color, 50%);

$padding-small: 4px;
$padding-medium: 8px;
$padding-large: 16px;
$form-padding: $padding-medium 0;

$border-color: #4a4c4f;
$standard-border: 1px solid $border-color;
$light-border-color: #6a6c6f;
$light-border: 1px solid $light-border-color;
$error-border-color: $error-color;
$error-border: 1px solid $error-border-color;
$border-radius-small: 2px;
$border-radius-medium: 4px;
$border-radius-large: 8px;

$standard-box-shadow: 0 0 8px #0000007f;

//////////////////////////////////////////////////////////////////////////////
/// INPUT
//////////////////////////////////////////////////////////////////////////////

$input-background-color: $background-color-1;
$input-text-color: $primary-text-color;
$input-border-radius: $border-radius-medium;

//////////////////////////////////////////////////////////////////////////////
/// TEXTAREA
//////////////////////////////////////////////////////////////////////////////

$textarea-background-color: $input-background-color;
$textarea-text-color: $input-text-color;
$textarea-border-radius: $input-border-radius;

//////////////////////////////////////////////////////////////////////////////
/// BUTTON
//////////////////////////////////////////////////////////////////////////////

$button-primary-background-color: $primary-color;
$button-primary-background-color-hover: $primary-color-hover;
$button-primary-background-color-active: $primary-color-active;
$button-primary-background-color-disabled: $primary-color-disabled;
$button-primary-text-color: $primary-text-color;
$button-primary-text-color-disabled: $primary-text-color-disabled;

$button-secondary-background-color: $secondary-color;
$button-secondary-background-color-hover: $secondary-color-hover;
$button-secondary-background-color-active: $secondary-color-active;
$button-secondary-background-color-disabled: $secondary-color-disabled;
$button-secondary-text-color: $secondary-text-color;
$button-secondary-text-color-disabled: $secondary-text-color-disabled;

$button-transparent-background-color: $transparent-color;
$button-transparent-background-color-hover: $transparent-color-hover;
$button-transparent-background-color-active: $transparent-color-active;
$button-transparent-background-color-disabled: $transparent-color-disabled;
$button-transparent-text-color: $transparent-text-color;
$button-transparent-text-color-disabled: $transparent-text-color-disabled;

$button-danger-background-color: $danger-color;
$button-danger-background-color-hover: $danger-color-hover;
$button-danger-background-color-active: $danger-color-active;
$button-danger-background-color-disabled: $danger-color-disabled;
$button-danger-text-color: $danger-text-color;
$button-danger-text-color-disabled: $danger-text-color-disabled;

$button-border-radius: $border-radius-medium;

//////////////////////////////////////////////////////////////////////////////
/// CHECKBOX
//////////////////////////////////////////////////////////////////////////////

$checkbox-background-color-checked: $primary-color;
$checkbox-background-color-checked-disabled: $primary-color-disabled;
$checkbox-background-color-unchecked: $input-background-color;
$checkbox-check-color: $primary-text-color;
$checkbox-label-color: $primary-text-color;
$checkbox-label-color-disabled: $primary-text-color-disabled;
$checkbox-size: 18px;
$checkbox-label-offset-left: $checkbox-size + 10px;
$checkbox-border-radius: $border-radius-medium;

//////////////////////////////////////////////////////////////////////////////
/// SWITCH
//////////////////////////////////////////////////////////////////////////////

$switch-head-background-color: $primary-text-color;
$switch-height: 18px;
$switch-width: $switch-height * 2;
$switch-inner-padding: 2px;
$switch-head-size: $switch-height - ($switch-inner-padding * 2);
$switch-head-offset-off: $switch-inner-padding;
$switch-head-offset-on: $switch-width - $switch-head-size -
  $switch-inner-padding;
$switch-label-offset-left: $switch-width + 10px;
$switch-label-color: $primary-text-color;
$switch-background-color-checked: $primary-color;
$switch-background-color-checked-disabled: $primary-color-disabled;
$switch-background-color-unchecked: $input-background-color;
$switch-label-color-disabled: $primary-text-color-disabled;

//////////////////////////////////////////////////////////////////////////////
/// RADIO
//////////////////////////////////////////////////////////////////////////////

$radio-size: 18px;
$radio-border-size-checked: $radio-size * 0.3;
$radio-border-color-checked: $primary-color;
$radio-background-color-checked: $primary-text-color;
$radio-background-color-checked-disabled: $primary-color-disabled;
$radio-background-color-unchecked: $input-background-color;
$radio-label-color-disabled: $primary-text-color-disabled;

//////////////////////////////////////////////////////////////////////////////
/// SLIDER
//////////////////////////////////////////////////////////////////////////////

$slider-track-size: 8px;
$slider-track-size-inner: $slider-track-size - 2px;
$slider-thumb-size: 16px;
$slider-width-inner: calc(100% - 2px);
$slider-margin: $padding-small;
$slider-track-offset: ($slider-thumb-size - $slider-track-size) * 0.5;
$slider-thumb-container-size: calc(100% - $slider-thumb-size);
$slider-track-empty-color: $input-background-color;
$slider-track-empty-border: $standard-border;
$slider-track-filled-color: $primary-color;
$slider-track-filled-color-disabled: $primary-color-disabled;
$slider-track-filled-border: 1px solid $primary-color;
$slider-track-filled-border-disabled: 1px solid $primary-color-disabled;
$slider-thumb-color: $primary-text-color;
$slider-thumb-color-disabled: $primary-text-color-disabled;
$slider-label-color-disabled: $primary-text-color-disabled;

//////////////////////////////////////////////////////////////////////////////
/// ICON
//////////////////////////////////////////////////////////////////////////////

$icon-size: 12px;
$icon-filter: $primary-svg-filter;
$icon-filter-disabled: $primary-svg-filter-disabled;

//////////////////////////////////////////////////////////////////////////////
/// ICON BUTTON
//////////////////////////////////////////////////////////////////////////////

$button-icon-size: $icon-size;
$button-icon-padding: 8px;
$button-icon-button-size: $icon-size + ($button-icon-padding * 2);
$button-icon-border-radius: 100vw;
$button-icon-button-background-color: #7f7f7f00;
$button-icon-button-background-color-hover: #7f7f7f30;
$button-icon-button-background-color-active: #7f7f7f40;
$button-icon-filter: $primary-svg-filter;
$button-icon-filter-disabled: $primary-svg-filter-disabled;

//////////////////////////////////////////////////////////////////////////////
/// SELECT
//////////////////////////////////////////////////////////////////////////////

$select-button-background-color: $background-color-1;
$select-button-text-color: $primary-text-color;
$select-button-border-radius: $border-radius-medium;
$select-label-color-disabled: $primary-text-color-disabled;
$select-popup-background-color: $background-color-3;
$select-popup-background-color-hover: $background-color-5;
$select-popup-border-radius: $border-radius-medium;
$select-popup-max-height: 300px;
$select-option-color-disabled: $primary-text-color-disabled;

//////////////////////////////////////////////////////////////////////////////
/// DIALOG
//////////////////////////////////////////////////////////////////////////////

$dialog-overlay-background-color: #00000060;
$dialog-background-color: $background-color-3;
$dialog-margin: 32px;
$dialog-padding: $padding-large;
$dialog-border-radius: $border-radius-large;
$dialog-width-small: 400px;
$dialog-width-medium: 800px;
$dialog-width-large: 1200px;
$dialog-section-gap: $padding-medium;
$dialog-actions-gap: $padding-medium;

//////////////////////////////////////////////////////////////////////////////
/// ALERT
//////////////////////////////////////////////////////////////////////////////

$alert-background-color: $background-color-4;
$alert-margin: 16px;
$alert-padding: $padding-large;
$alert-border-radius: $border-radius-large;
$alert-max-width: 400px;
$alert-section-gap: $padding-medium;
